.herohome {
  background: url("/images/hero.webp") no-repeat center center fixed;
  background-size: cover;
  margin: auto;
  height: 30vh;
  background-attachment: fixed;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.herohome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000000a;
}

@media (max-width: 960px) {
  .herohome {
    background: url("/images/hero.webp") no-repeat center center fixed;
    background-size: cover;
    margin: auto;
    height: 40vh;
    background-attachment: fixed;
    color: #ffffff;
    position: relative;
    font-size: 60px;
  }

  .herohome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
